{% extends 'base.html'%}
{% load staticfiles %}
<!--crumbs start-->
{% block title%}<title>讲师列表 - 慕学在线网</title>{% endblock %}
{% block highlight%}
    <ul>
							<li ><a href="{% url 'index'%}">首页</a></li>
							<li >
								<a href="{% url 'course:course_list' %}">
									课程展示<img class="hot" src="{% static 'images/nav_hot.png'%}">
								</a>
							</li>
							<li class="active">
								<a href="{% url 'teacher:teachers_list' %}">授课教师</a>
							</li>
							<li ><a href="">项目展示</a></li>
						</ul>
{% endblock %}
{% block content %}
<section>
    <div class="wp">
        <ul  class="crumbs">
            <li><a href="index.html">首页</a>></li>
            <li>课程讲师</li>
        </ul>
    </div>
</section>

<section>
    <div class="wp butler_list_box list">
        <div class='left'>


            <div class="butler_list layout">
                <div class="head">
                <ul class="fl tab_header">
                <li class="active"><a href="?sort=">全部</a> </li>
                <li ><a href="?sort=hot">人气 &#8595;</a></li>
                </ul>
                <div class="fr butler-num">共<span class="key"></span>人&nbsp;&nbsp;&nbsp;</div>
                </div>

            {% for teacher in teachers.object_list %}

            <dl class="des">
                <dt>
                <a href="/org/teacher/detail/1/">
                <div class="picpic">
                <img width="100" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ teacher.photo }}"/>
                </div>
                </a>
                <div class="btn">
                <div class="fr btn2 bdsharebuttonbox"
                data-text="授课教师-奥巴马-慕学在线"
                data-desc="我在#慕课网#发现了教师“奥巴马”，对学习中的小伙伴很有帮助，一起来看看吧。"
                data-comment="奥巴马金牌讲师，从业年限：5年"
                >
                <span class="fl">分享</span>
                <a href="#" class="bds_more" data-cmd="more"></a>
                </div>
                </div>
                </dt>
                <dd>
                    <a href="/org/teacher/detail/1/">
                    <h1>{{ teacher.name }}<span class="key picbig">金牌讲师</span></h1>
                    </a>
                    <ul class="cont">
                        <li>就职公司：<span>{{ teacher.company }}&nbsp;</span></li>
                        <li>工作年限：<span>{{ teacher.work_time }}</span></li>
                        <li>工作职位：<span>{{ teacher.job }}</span></li>
                        <li>年龄：<span>{{ teacher.age }}岁</span></li>
                        <li>性别：<span>{{ teacher.sex }}</span></li>
                        <li>教学特点：<span>{{ teacher.character }}</span></li>
                    </ul>
                </dd>
                <a class="buy buyservice" href="{% url 'teacher:teacher_detail' teacher.id %} "><br/>查看<br/>详情</a>
            </dl>

        {% endfor %}

{#            分页器#}

            </div>

                <div class="pageturn">
                    <ul class="pagelist">

                        {% if teachers.has_previous %}
                                <li class="long"><a href="?{{ teachers.previous_page_number.querystring }}">上一页</a></li>
                            {% endif %}

                            {% for page in teachers.pages %}
                                {% if page %}
                                    {% ifequal page teachers.number %}
                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                    {% else %}
                                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="none"><a href="">...</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if teachers.has_next %}
                                <li class="long"><a href="?{{ teachers.next_page_number.querystring }}">下一页</a></li>
                            {% endif %}
                    </ul>
                </div>
            </div>
            <div class="right layout">
            <div class="head">讲师排行榜</div>

            {% for teacher in teacher_order  %}

                        <dl class="des">
                            <span class="num fl">1</span>
                            <a href="/org/teacher/detail/2/">
                                <dt>
                                    <img width="50" height="50" class="scrollLoading" src="{{ MEDIA_URL }}{{ teacher.photo }}"/>
                                </dt>
                            </a>
                            <dd>
                                <a href="/org/teacher/detail/2/">
                                    <h1 title="还是bobby">{{ teacher.name }}</h1>
                                </a>
                                <p>工作年限：<span>{{ teacher.work_time }}</span></p>
                            </dd>
                        </dl>
                        {% endfor %}
        </div>
    </div>
</section>

<script type="text/javascript">
//收藏分享
function add_fav(current_elem, fav_id, fav_type){
$.ajax({
cache: false,
type: "POST",
url:"/org/add_fav/",
data:{'fav_id':fav_id, 'fav_type':fav_type},
async: true,
beforeSend:function(xhr, settings){
xhr.setRequestHeader("X-CSRFToken", "5I2SlleZJOMUX9QbwYLUIAOshdrdpRcy");
},
success: function(data) {
if(data.status == 'fail'){
if(data.msg == '用户未登录'){
window.location.href="login.html";
}else{
alert(data.msg)
}

}else if(data.status == 'success'){
current_elem.text(data.msg)
}
},
});
}

$('#jsLeftBtn').on('click', function(){
add_fav($(this), 1, 3);
});

$('#jsRightBtn').on('click', function(){
add_fav($(this), 1, 2);
});
</script>

{% endblock %}